chromadb==0.4.11
huggingface-hub==0.16.4
langchain==0.0.295
langsmith==0.0.38
linalg==1.0.4
matplotlib==3.7.2
nltk==3.8.1
numpy==1.25.2
pandas==2.1.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
streamlit==1.26.0
tk==0.1.0
tokenizers==0.13.3
torch==2.0.1
transformers==4.33.2
unstructured==0.10.15
pysqlite3-binary
